/Manifest.toml
.vscode/
docs/build/
0_input/final_data/global_mortality_panel_covariates.dta
0_input/final_data/global_mortality_panel_public.dta
0_input/cleaned_data/covar_pop_count.dta
0_input/main_specifications/mortality-allpreds_filtered.csv
0_input/
utilities/ftp_connect
src/.DS_Store